{% extends "layout.html.twig" %}

{% block title %}Détail produit{% endblock %}

{% block content %}

<div class="well">
    <article>
        <h2><a class="produitTitle" href="">{{ produits.nom }}</a></h2>
        <p><strong>Dosage : </strong>{{ produits.dosage }} mg</p>
        <p><strong>Prix : </strong>{{ produits.prix }} €</p>
        <p><strong>Contre indication : </strong> {{ produits.contreIndication }}</p>
        <p><strong>Effet thérapeutique : </strong> {{ produits.effetTherapeutique }}</p>
    </article>
</div>


<a style="float: right; margin : 1%; " class="btn btn-default" href="{{   path('famille_produits') }}"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
{% endblock %}
